# Project Files
tmp/
.env

# General IDE Stuff
.vscode/*
.vscode/settings.json
.idea/*
.DS_Store

# Lazy way to make atlas usable on windows
atlas.exe


# terraform
**/.terraform/*
terraform.tfstate
terraform.tfstate.*
